@page  "/"
@inject HttpClient HttpClient

<div class="main">
    <ul class="pizza-cards">
    @if (specials != null)
    {
        @foreach (var special in specials)
        {
            @*<div class="card" style="width: 18rem;">
                <img src="@special.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body pizza-info">
                    <span class="title">@special.Name</span>
                    @special.Description
                    <h4><span class="badge bg-secondary price">@special.GetFormattedBasePrice()</span></h4>
                </div>
            </div>*@
            <li style="background-image: url('@special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@special.Name</span>
                        @special.Description
                        <span class="price">@special.GetFormattedBasePrice()</span>
                    </div>
                </li>
        }
    }
    </ul>
</div>

@code{
    List<PizzaSpecial> specials;

    protected override async Task OnInitializedAsync()
    {
        specials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>("specials");
    }
}